<nav md-tab-nav-bar>
  <a md-tab-link [routerLink]="['/zwave-man']" >Z-Wave</a>
  <a md-tab-link [routerLink]="['/ikea-man']" >Ikea Tradfri</a>
  <a md-tab-link [routerLink]="['/systems-man']" >Systems</a>
  
</nav>
<div class="ikea-man">
  <md-card class="example-card">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title><h3>IKEA network manager</h3></md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>
          <table>
          <thead><tr><th style="width: 70px">Node</th><th style="width: 100px">Type</th><th style="width: 100px">Service type</th>
          <th style="width: 250px">Alias</th><th></th></tr> </thead>
          <tbody>
         <tr *ngFor="let node of nodes">
          <td> {{node.address}}</td> <td> {{node.type}} </td> <td> {{node.service_type}} </td> <td> {{node.alias}} </td>
           <td> 
            <md-chip-list>
             <md-chip class="open-chip" [routerLink]="['/thing-view','ikea',node.address]">Services</md-chip>
             <md-chip color="warn" (click)="generateExclusionReport(node.address)">Delete</md-chip>
            </md-chip-list>
           </td>
          </tr>
          </tbody> 
         </table>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button (click)="addDevice(True)" color="primary" > Connect system</button>
      <button md-raised-button (click)="removeDevice()" color="warn" >Disconnect system</button>
      <button md-raised-button (click)="reloadIkeaDevices()" color="primary" >Reload list</button>
   </md-card-actions>
  </md-card>

</div>