<!--<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>-->
<md-toolbar color="primary">
    <span>FIMP control center <small> v{{version}}</small></span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
       <button md-menu-item [routerLink]="['zwave-man']">
        <md-icon>network_check</md-icon>
        <span>Z-Wave manager</span>
      </button>
      <button md-menu-item [routerLink]="['settings']">
        <md-icon>build</md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item [routerLink]="['flight-recorder']">
        <md-icon>build</md-icon>
        <span>Flight recorder</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>devices_other</md-icon>
        <span>Things browser</span>
      </button>
    </md-menu>
</md-toolbar>

<nav md-tab-nav-bar>
<a md-tab-link [routerLink]="['/registry/things/*/*']" >Registry</a> 
<a md-tab-link [routerLink]="['/flow/overview']" >Flow</a>
<a md-tab-link [routerLink]="['/zwave-man']" >Adapters</a>
<a md-tab-link [routerLink]="['timeline']" >Message stream</a>
</nav>

<md-sidenav-container class="example-container">
<router-outlet ></router-outlet>

 <md-sidenav #sidenav class="example-sidenav">
   <timeline></timeline>
</md-sidenav>

  

</md-sidenav-container>

