<div class="settings">
 <md-card class="settings-card">
    <md-card-header>
     <md-card-title><h3>Settings</h3></md-card-title>
    </md-card-header>
    <md-card-content>
    <md-input-container>
        <input #host mdInput placeholder="Hostname" [value] = "fimpService.mqttSeviceOptions.hostname" >
    </md-input-container>
    <md-input-container>
        <input #port mdInput type="number" placeholder="Port" [value] = "fimpService.mqttSeviceOptions.port" >
    </md-input-container>
    <md-input-container>
      <input #port mdInput  placeholder="Username" [value] = "fimpService.mqttSeviceOptions.username" >
    </md-input-container>
    <md-input-container>
      <input #port mdInput  placeholder="Password" [value] = "fimpService.mqttSeviceOptions.password" >
    </md-input-container>
    <md-input-container>
      <input #port mdInput  placeholder="Global topic prefix" [value] = "fimpService.mqttSeviceOptions.gloabalTopicPrefix" >
    </md-input-container>
   
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="accent" (click)="save(host.value,port.value)">Save</button>
    </md-card-actions>
    <p>Connection status: {{connStatus}}</p>
 
  </md-card>
 </div> 
  <md-card class="settings-card">
    <md-card-header>
     <md-card-title><h3>Api</h3></md-card-title>
    </md-card-header>
    <md-card-content>
      <p>Registry API :</p>
      <p><a href="/fimp/registry/things">GET /fimp/registry/things - List of things from regitry</a></p>
      <p><a href="/fimp/registry/services">GET /fimp/registry/services - List of services from regitry</a></p>
      <p><a href="/fimp/registry/interfaces">GET /fimp/registry/interfaces - List of interfaces from regitry</a></p>
      <p><a href="/fimp/registry/locations">GET /fimp/registry/locations - List of locations from regitry</a></p>
      <p><a href="">GET /fimp/registry/thing/:tech/:address - Thing by address and technology</a></p>
      <p><a href="">GET /fimp/registry/clear_all - Clear registry</a></p>
      <p><a href="">PUT /fimp/registry/thing - Upsert thing</a></p>
      <p>Vinculum API :</p>
      <p><a href="/fimp/vinculum/devices">GET /fimp/vinculum/devices - Get list of devices from Core</a></p>
      <p><a href="/fimp/vinculum/import_to_registry">GET /fimp/vinculum/import_to_registry - Import devices and locations from CORE to FIMP registry</a></p>
      <p>Flow  API :</p>
      <p><a href="/fimp/flow/list">GET /fimp/flow/list - Get list of Flows </a></p>
      <p><a href="">GET /fimp/flow/definition/:id - Get single Flow definition by Id </a></p>
      <p><a href="/fimp/flow/context/:id">GET /fimp/flow/context/:id - Get Flow flow context by Flow Id </a></p>
      <p><a href="">POST /fimp/flow/definition/:id - Upsert Flow definition </a></p>
      <p><a href="">DELETE /fimp/flow/definition/:id - Delete Flow </a></p>
      <p>Global settings </p>
      <p><a href="/fimp/api/configs">GET /fimp/api/configs - Get global configs</a></p>
      <p><a href="/fimp/fr/upload-log-snapshot">GET /fimp/fr/upload-log-snapshot - Upload log snapshots to cloud storage </a></p>
     
    </md-card-content>
    
  </md-card>

