
<div style = "width:250px">
   <div *ngIf= "intf.lastValue">
      <div [ngSwitch]="msgType">
        <div *ngSwitchCase="'evt.sensor.report'">{{intf.lastValue.val}} {{intf.lastValue.props.unit}} </div>
        <div *ngSwitchCase="'evt.binary.report'"> <md-chip-list> 
          <md-chip style="width: 170px" color="primary" selected="{{intf.lastValue.val}}"> {{intf.lastValue.val}} </md-chip>
           </md-chip-list> </div>
        <div *ngSwitchCase="'evt.open.report'"> <md-chip-list> 
          <md-chip style="width: 170px" color="primary" selected="{{intf.lastValue.val}}"> {{intf.lastValue.val}} </md-chip>
           </md-chip-list> </div>
        <div *ngSwitchCase="'evt.config.report'">
          <div *ngFor="let item of intf.lastValue.val|keys" >
            {{item.key}} = {{item.value}} 
          </div>   
        </div>
        <div *ngSwitchCase="'evt.group.members_report'">
          <p>Group :{{ intf.lastValue.val.group }} </p>
          <p> Members :
          <span *ngFor="let member of intf.lastValue.val.members" >
            {{ member }}, 
          </span>
          </p>   
        </div>
        <div *ngSwitchCase="'evt.alarm.report'">
          <p>Event  = {{ intf.lastValue.val.event }} </p>
          <p>Status = {{ intf.lastValue.val.status }} </p>
        </div>
        <div *ngSwitchCase="'evt.meter.report'">
          {{ intf.lastValue.val }} {{ intf.lastValue.props.unit }}
        </div>
         <div *ngSwitchCase="'evt.setpoint.report'">
          {{ intf.lastValue.val.type}} {{ intf.lastValue.val.temp }}
        </div>
        <div *ngSwitchCase="'evt.lock.report'">
          <p>Is secured      = <md-icon *ngIf="intf.lastValue.val.is_secured" >lock</md-icon> <md-icon *ngIf="!intf.lastValue.val.is_secured" >lock_open</md-icon>  </p>
          <p>Door is closed  = <md-icon *ngIf="intf.lastValue.val.door_is_closed" >done</md-icon> <md-icon *ngIf="!intf.lastValue.val.door_is_closed" >close</md-icon>   </p>
          <p>Bolt is locked  = <md-icon *ngIf="intf.lastValue.val.bolt_is_locked" >done</md-icon> <md-icon *ngIf="!intf.lastValue.val.bolt_is_locked" >close</md-icon>   </p>
          <p>Latch is closed = <md-icon *ngIf="intf.lastValue.val.latch_is_closed" >done</md-icon> <md-icon *ngIf="!intf.lastValue.val.latch_is_closed" >close</md-icon>   </p>
        </div>
        <div *ngSwitchDefault> {{intf.lastValue.val}}</div>
      </div>
    </div>
  <div [ngSwitch]="msgType">
      <div *ngSwitchCase="'cmd.binary.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><button md-raised-button (click)="cmdBinarySet(true)" >On</button>
            <button md-raised-button (click)="cmdBinarySet(false)" >Off</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.color.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <md-slider #colorLvlValue thumbLabel  min="0" max="255" step="1" value="0"></md-slider>
            </td>
            <td><md-input-container class="example-full-width">
              <input #compNameValue mdInput placeholder="componnent" type="text" >
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdColorSet(compNameValue.value,colorLvlValue.value)" >Set</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.lvl.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td>
              <md-slider #lvlValue thumbLabel  min="0" max="100" step="1" value="0"></md-slider>
            </td>
            <td><md-input-container class="example-full-width">
              <input #durationValue mdInput placeholder="Duration" type="number" value="0">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdLvlSet(lvlValue.value,durationValue.value)" >Set</button></td>
          </tr>
          </table>
        </form>
      </div>
       <div *ngSwitchCase="'cmd.lvl.start'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><button md-raised-button (click)="cmdLevelStart('up',durationValue.value)" >Up</button>
            <td><button md-raised-button (click)="cmdLevelStart('down',durationValue.value)" >Down</button>
            <td><button md-raised-button (click)="cmdLevelStart('auto',durationValue.value)" >Auto</button>
            <td><md-input-container class="example-full-width">
              <input #durationValue mdInput placeholder="Duration" type="number" value="0">
            </md-input-container></td>
          </tr>
          </table>
        </form>
      </div>
       <div *ngSwitchCase="'cmd.lvl.stop'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><button md-raised-button (click)="cmdLevelStop()" >Stop</button>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.lvl.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><button md-raised-button (click)="cmdGetReportNull()" >Get report</button>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.lock.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><button md-raised-button (click)="cmdBinarySet(true)" >Lock</button>
            <button md-raised-button (click)="cmdBinarySet(false)" >Unlock</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.binary.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><button md-raised-button (click)="cmdGetReportNull()" >Get report</button>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.setpoint.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><md-input-container class="example-full-width">
              <input #setpointType mdInput placeholder="type">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input #tempValue mdInput placeholder="temp">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdSetpointSet(setpointType.value,tempValue.value)" >Set</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.mode.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><md-input-container class="example-full-width">
              <input #thermoMode mdInput placeholder="mode">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdModeSet(thermoMode.value)" >Set</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.mode.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0"><tr>
            <td><button md-raised-button (click)="cmdGetReportNull()" >Get</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.setpoint.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input #setpointType mdInput placeholder="setpoint type">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdSetpointReportGet(setpointType.value)" >Get</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.config.set'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><md-input-container class="example-full-width">
              <input #confName mdInput placeholder="name">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input #confValue mdInput placeholder="value">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdConfigSet(confName.value,confValue.value)" >Set</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.config.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input #confName mdInput placeholder="name">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdConfigReportGet(confName.value)" >Get</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.group.add_members'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><md-input-container class="example-full-width">
              <input #group mdInput placeholder="group">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input #member mdInput placeholder="member">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdGroupSet(group.value,member.value)" >Set</button></td>
          </tr>
          </table>
        </form>
      </div>
      <div *ngSwitchCase="'cmd.group.delete_members'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0">
          <tr>
            <td><md-input-container class="example-full-width">
              <input #group mdInput placeholder="group">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input #member mdInput placeholder="member">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdGroupSet(group.value,member.value)" >Delete</button></td>
          </tr>
          </table>
        </form>
      </div>

      <div *ngSwitchCase="'cmd.group.get_members'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input #groupName mdInput placeholder="group">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdGroupReportGet(groupName.value)" >Get</button></td>
          </tr>
          </table>
        </form>
      </div> 

      <div *ngSwitchCase="'cmd.meter.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input #meterUnit mdInput placeholder="unit">
            </md-input-container></td>
            <td><button md-raised-button (click)="cmdMeterReportGet(meterUnit.value)" >Get</button></td>
          </tr>
          </table>
        </form>
      </div>

      <div *ngSwitchCase="'cmd.sensor.get_report'"> 
        <form class="intf-form">
        <table class="table-full-width" cellspacing="0"><tr>
            <td><button md-raised-button (click)="cmdGetReportNull()" >Get</button></td>
          </tr>
          </table>
        </form>
      </div>

  </div>   
</div>