<div class="zwave-man">
  <md-card class="example-card">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title><h3>Z-Wave network manager</h3></md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>
          <table>
           
          <thead><tr><th style="width: 70px">Node</th><th style="width: 100px">Status</th><th></th></tr> </thead>
          <tbody>
         <tr *ngFor="let node of nodes">
          <td> {{node.id}}</td> <td> {{node.status}} </td> <td> <a [routerLink]="['/thing-view',node.id]"><i class="material-icons">info_outline</i></a></td>
          </tr>
          </tbody> 
         </table>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="accent" (click)="addDevice(True)">Add</button>
      <button md-raised-button color="warn"(click)="removeDevice()" >Remove</button>
      <button md-raised-button color="accent" (click)="reloadNodes()">Reload list</button>
    </md-card-actions>
  </md-card>

</div>


