
<nav md-tab-nav-bar>
  <a md-tab-link active [routerLink]="['/zwave-man']" >Z-Wave</a>
  <a md-tab-link [routerLink]="['/ikea-man']" >Ikea Tradfri</a>
  <a md-tab-link [routerLink]="['/systems-man']" >Systems</a>
</nav>

<div class="zwave-man">
  <md-card class="example-card">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title><h3>Z-Wave network manager</h3></md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>
          <table>
           
          <thead><tr><th style="width: 70px">Node Id</th><th style="width: 150px">Product hash</th><th style="width:300px">Product name</th><th style="width: 150px">Alias</th><th style="width: 70px">Status</th><th >Actions</th></tr> </thead>
          <tbody>
         <tr *ngFor="let node of nodes">
          <td> {{node.address}}</td> <td> {{node.hash}}</td><td> {{node.product_name}}</td> <td> {{node.alias}}</td> <td> {{node.status}} </td>
           <td  >
             <md-chip-list>
             <md-chip class="open-chip" [routerLink]="['/thing-view','zw',node.address]">Services</md-chip>
             <md-chip class="open-chip" (click)="openTemplateEditor(node.hash+'.json','stable')">Template</md-chip>
             <md-chip (click)="updateDevice(node.address)">Update</md-chip>
             <md-chip color="warn" (click)="deleteFailedDevice(node.address)">Delete</md-chip>
             <md-chip color="warn" (click)="replaceDevice(node.address)">Replace</md-chip>
             </md-chip-list>
          </td>
          </tr>
          </tbody> 
         </table>
     <p>Adapter state: {{zwAdState}}</p> 
     <p>Incl proc state: {{inclProcState}}</p>
     <p>Enabled global non-secure incl.: {{globalNonSecureInclMode}}</p>
     <p>Last error : {{errorMsg}}</p> 
     <md-progress-bar  [mode]="progressBarMode" ></md-progress-bar>   
    </md-card-content>
    <md-card-actions>
      <button md-raised-button (click)="addDevice(True)" color="primary" > Add device</button>
      <button md-raised-button (click)="removeDevice()" color="warn" >Exclude device</button>
      <button md-raised-button (click)="reloadNodes()">Reload list</button>
      <button md-raised-button (click)="settings.hidden = !settings.hidden" >Advanced</button>
      <br/>
      <div> Ping device:
         <md-input-container >
          <input mdInput #pingFromInput placeholder="from node">
        </md-input-container>
        <md-input-container > 
          <input mdInput #pingToInput placeholder="to node">
        </md-input-container>
        <md-input-container style="width:50px"> 
            <input mdInput #txLevelInput placeholder="lvl">
        </md-input-container>
          <button md-raised-button (click)="pingNode(pingFromInput.value,pingToInput.value,txLevelInput.value)">Ping</button>
          <p>Result : {{ pingResult }} </p>
      </div>
      <div #settings hidden > 
        <p>Advanced settings </p>
        <button md-raised-button color="accent" (click)="restartAdapter()">Restart adapter </button> 
        <button md-raised-button color="accent" (click)="updateNetwork()">Start network update </button> 
       <p> <button md-raised-button color="warn" (click)="resetNetwork()">Z-Wave network reset </button> </p>
       <p> 
        <button md-raised-button  (click)="setGatewayMode('enableGlobalForceNonSecure')">Enable global non-secure inclusion</button>
        <button md-raised-button  (click)="setGatewayMode('disableGlobalForceNonSecure')">Disable global non-secure inclusion</button>
      </p> 
       <p> 
         <button md-raised-button  (click)="downloadTemplatesFromCloud()">Download all stable templates from cloud </button>
         <button md-raised-button  (click)="uploadCacheToCloud()">Upload unstable templates into cloud </button>
       </p> 
         <h4>FH templates</h4>
         <md-list>
           <md-list-item *ngFor="let temp of localTemplates" (click)="openTemplateEditor(temp.file_name,'stable')" > {{temp.alias}} ( {{temp.file_name}} ) </md-list-item>
         </md-list>

         <h4>Discovered templates (cache)</h4>
         <md-list>
           <md-list-item *ngFor="let temp of localTemplatesCache" (click)="openTemplateEditor(temp.file_name,'cache')" >  {{temp.alias}} ( {{temp.file_name}} ) </md-list-item>
         </md-list>
         <p>
            <button md-raised-button  (click)="loadLocalTemplates()">Reload</button>
         </p>
      </div>
    </md-card-actions>
  </md-card>

</div>


