<div class="flow-editor">
  
  <button  style = "margin-bottom: 20px;" md-raised-button [routerLink]="['/flow']">  <md-icon>chevron_left</md-icon>  <md-icon>network_check</md-icon> Flows </button>
  
  <md-card class="example-card">
    <md-card-header>
     
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title><h3>Flow editor</h3></md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="example-full-width">
              <input mdInput [(ngModel)]="flow.Name" placeholder="Name" >
      </md-input-container>
      <md-input-container >
              <input style="width: 300px" mdInput [(ngModel)]="flow.Description" placeholder="Description" >
      </md-input-container>
      <p>Nodes:</p>
      
       <md-card *ngFor="let node of flow.Nodes;let index = index;trackBy:trackByIndex;" class="node-card" >
         <md-card-header id = "nodeId_{{node.Id}}">
            <md-card-title>{{ node.Label }} ( Id:{{ node.Id }} ) </md-card-title>
            <md-card-subtitle>Node type : {{ node.Type }} </md-card-subtitle>
         </md-card-header>  
         <div [ngSwitch]="node.Type">
            <md-input-container class="node-label-field">
                  <input mdInput [(ngModel)]="flow.Nodes[index].Label" placeholder="Label" >
            </md-input-container>
            <div *ngSwitchCase="'trigger'">  
                  <p>
                  <md-input-container style="width: 130px">
                      <input mdInput [(ngModel)]="flow.Nodes[index].Service" placeholder="Service" >
                  </md-input-container>
                  <md-input-container style="width: 200px">
                      <input mdInput [(ngModel)]="flow.Nodes[index].ServiceInterface" placeholder="Interface" >
                  </md-input-container>
                  <md-input-container style="width: 450px">
                      <input mdInput [(ngModel)]="flow.Nodes[index].Address" placeholder="Address" >
                  </md-input-container>
                    <button md-raised-button (click)="serviceLookupDialog(flow.Nodes[index].Id)" >Lookup</button>
                  </p>
                  <p>
                    <md-select #nodeIdInput style="width: 250px" class="value-selector" placeholder="Success node"[(ngModel)]="flow.Nodes[index].SuccessTransition" >
                        <md-option value = "" > End! </md-option>
                        <md-option *ngFor="let nod of flow.Nodes" [value]="nod.Id" >{{nod.Label}}</md-option>
                    </md-select>
                  </p>
                  <p> <button md-raised-button (click)="runFlow(node)" >Run</button> </p>
            </div>
            <div *ngSwitchCase="'wait'">  
                  <md-input-container style="width:100px ">
                      <input mdInput type="number" [(ngModel)]="flow.Nodes[index].Config" placeholder="Delay time (milisec)" >
                  </md-input-container>
                  <p>
                  <md-select #nodeIdInput style="width: 250px" class="value-selector" placeholder="Success node"[(ngModel)]="flow.Nodes[index].SuccessTransition" >
                        <md-option value = "" > End! </md-option>
                        <md-option *ngFor="let nod of flow.Nodes" [value]="nod.Id" >{{nod.Label}}</md-option>
                  </md-select>
                  </p>
            </div>
            <div *ngSwitchCase="'action'">  
                 <action-node [node]="flow.Nodes[index]" [nodes]="flow.Nodes" > </action-node>
            </div>
            <div *ngSwitchCase="'if'">  
                  <div *ngFor="let exp of flow.Nodes[index].Config.Expression;let index2 = index;trackBy:trackByIndex;">
                    
                    <md-select style="width: 120px" class="value-selector" placeholder="Operand"[(ngModel)]="flow.Nodes[index].Config.Expression[index2].Operand" >
                        <md-option value = "gt">greater</md-option>
                        <md-option value = "lt">less</md-option>
                        <md-option value = "eq">equals</md-option>
                    </md-select>
                    
                   
                    <md-select style="width: 120px" class="value-selector" placeholder="Value type" [(ngModel)]="flow.Nodes[index].Config.Expression[index2].ValueType" >
                        <md-option value = "string">string</md-option>
                        <md-option value = "bool">bool</md-option>
                        <md-option value = "int">int</md-option>
                        <md-option value = "float">float</md-option>
                     </md-select>
                    
                     <span [ngSwitch]="flow.Nodes[index].Config.Expression[index2].ValueType">  
                      <span *ngSwitchCase="'string'">
                        <md-input-container class="node-transition-field">
                            <input mdInput [(ngModel)]="flow.Nodes[index].Config.Expression[index2].Value" placeholder="value" >
                        </md-input-container>
                      </span>
                      <span *ngSwitchCase="'int'">
                        <md-input-container class="node-transition-field">
                            <input mdInput type="number" [(ngModel)]="flow.Nodes[index].Config.Expression[index2].Value" placeholder="value" >
                        </md-input-container>
                      </span>
                      <span *ngSwitchCase="'float'">
                        <md-input-container class="node-transition-field">
                            <input mdInput type="number" [(ngModel)]="flow.Nodes[index].Config.Expression[index2].Value" placeholder="value" >
                        </md-input-container>
                      </span>
                      
                      <span *ngSwitchCase="'bool'">
                        <md-radio-group class="example-radio-group" placeholder="value" [(ngModel)]="flow.Nodes[index].Config.Expression[index2].Value">
                          <md-radio-button class="example-radio-button" [value] = "true">
                            true (On)
                          </md-radio-button>
                          <md-radio-button class="example-radio-button" [value] = "false">
                            false (Off)
                          </md-radio-button>
                        </md-radio-group>
                      </span>
                    </span>   
                     

                  </div>
                  
                  <p>
                    <md-select #nodeIdInput style="width: 250px" class="value-selector" placeholder="True node"[(ngModel)]="flow.Nodes[index].Config.TrueTransition" >
                        <md-option value = "" > End! </md-option>
                        <md-option *ngFor="let nod of flow.Nodes" [value]="nod.Id" >{{nod.Label}}</md-option>
                    </md-select>
                     <md-select #nodeIdInput style="width: 250px" class="value-selector" placeholder="False node"[(ngModel)]="flow.Nodes[index].Config.FalseTransition" >
                        <md-option value = "" > End! </md-option>
                        <md-option *ngFor="let nod of flow.Nodes" [value]="nod.Id" >{{nod.Label}}</md-option>
                    </md-select>
                  </p>
                  
            </div>
         </div>
         <md-card-actions>
          <button md-raised-button (click)="cloneNode(node)" >Clone</button>
          <button md-raised-button (click)="deleteNode(node)" >Delete</button>
        </md-card-actions>
       </md-card>

    
    </md-card-content>
    
    <md-card-actions>
      <md-select #nodeTypeInput placeholder="Node Type"[(ngModel)]="selectedNewNodeType" >
        <md-option value = "trigger">trigger</md-option>
        <md-option value = "action">action</md-option>
        <md-option value = "wait">wait</md-option>
        <md-option value = "if">if</md-option>
      </md-select>
      <button md-raised-button (click)="addNode()" color="primary" >Add</button>
      <button md-raised-button (click)="saveFlow()" color="primary" >Save</button>
      <button md-raised-button (click)="showSource()" color="primary" >Show source</button>

    </md-card-actions>
  </md-card>

</div>


