.flow-editor{
  padding: 20px;
}
  

.example-card {
  width: 1000px;
}

.node-card {
  /*padding: 0px;*/
  margin-bottom: 20px;
  background-color: lightgoldenrodyellow;
  
}
.value-selector {
  /*padding: 0px;*/
  margin-bottom: 10px;
  margin-top: 10px;
  width:200px;
}

.if-expression-div {
  margin-bottom: 15px;
  margin-top: 15px;
}
.example-header-image {
  background-size: cover;
}

.mat-grid-tile .mat-figure {
    align-items:top;
}
.node-id-field {
    width: 50px;
}

.node-type-field {
    width: 100px;
}
.node-label-field {
    width: 270px;
}
.node-transition-field {
    width: 100x;
}

.source-editor {
      width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

md-chip {
  cursor: pointer;
}