<div class="table-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterServiceName placeholder="Filter service name">
    </md-input-container>
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterThingAddr placeholder="Service address">
    </md-input-container>
    
  </div>

  <md-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="address">
      <md-header-cell *cdkHeaderCellDef> Service addr. </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.address}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="alias">
      <md-header-cell *cdkHeaderCellDef> Service alias </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.alias}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="locationAlias">
      <md-header-cell *cdkHeaderCellDef> Loacation </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.locationAlias}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="action">
      <md-header-cell *cdkHeaderCellDef> Action </md-header-cell>  
      <md-cell *cdkCellDef="let row"><md-chip-list> <md-chip (click)="selectInterface(row)" >Edit</md-chip>  </md-chip-list> </md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;">
    </md-row>
  </md-table>
</div>
