.app-content {
  padding: 20px;
}
/*.app-content md-card {
  margin: 20px;
}*/

.source-editor {
  width: 100%;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}