<nav md-tab-nav-bar>
  <a md-tab-link [routerLink]="['/registry/locations']" >Locations</a>
  <a md-tab-link active [routerLink]="['/registry/things/*/*']" >Things</a>
  <a md-tab-link [routerLink]="['/registry/services/*/*']" >Services</a>
  <a md-tab-link [routerLink]="['/registry/admin']" >Admin</a>
</nav>
<h3> Registry administration </h3>
<md-list>
  <md-list-item> <button md-raised-button (click)="vinculumSync()">Vinculum sync</button> </md-list-item>
  <md-list-item> <button md-raised-button (click)="reindexRegistry()">Reindex registry</button>  </md-list-item>
  <md-list-item> <button md-raised-button (click)="clearRegistry()">Clear registry</button>  </md-list-item>
</md-list>
