<div class="flow">
  <md-card class="example-card">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title><h3>Flow editor</h3></md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>
         
   <table>
      <thead><tr><th style="width: 150px">Name</th><th style="width: 70px">Executed</th><th style="width: 70px">Errors</th><th style="width: 250px">Description</th><th style="width: 150px">Actions</th></tr> </thead>
      <tbody>
      <tr *ngFor="let flow of flows">
          <td> {{flow.Name}}</td><td> {{flow.TriggerCounter}}</td> <td> {{flow.ErrorCounter}}</td> <td> {{flow.Description}}</td> <td>
             
             <md-chip-list>
             <md-chip class="open-chip" [routerLink]="['/flow-editor',flow.Id]">Open</md-chip>
             <md-chip color="warn" (click)="deleteFlow(flow.Id)">Delete</md-chip>
             </md-chip-list>
          </td>
          </tr>
          </tbody> 
    </table>

    </md-card-content>
    <md-card-actions>
      <button md-raised-button [routerLink]="['/flow-editor','-']" color="primary" > Add new flow</button>
      <button md-raised-button (click)="loadListOfFlows()">Refresh</button>
    </md-card-actions>
  </md-card>

</div>
