<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/flow/overview']" >Flows</a>
    <a mat-tab-link [routerLink]="['/flow/context']" >Context</a>
</nav>
<div class="flow">
  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title><h3>Flow editor</h3></mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>

   <table>
      <thead><tr><th style="width: 300px">Name</th>
        <th style="width: 100px">Group</th>
        <th style="width: 50px">Ok</th>
        <th style="width: 50px">Err</th>
        <th style="width: 250px">Current Node</th>
        <th style="width: 70px">At start </th>
        <th style="width: 330px">Last start  </th>
        <th style="width: 150px">Last exec time (milisec) </th>
        <th style="width: 150px">State </th>
        <th style="width: 350px">Description</th><th style="width: 250px">Actions</th></tr> </thead>
      <tbody>
      <tr *ngFor="let flow of flows">
          <td> {{flow.Name}}</td>
          <td> {{flow.Group}}</td>
          <td> {{flow.TriggerCounter}}</td>
          <td> {{flow.ErrorCounter}}</td>
          <td> {{flow.Stats.CurrentNodeLabel}} ({{flow.Stats.CurrentNodeId}}) </td>
          <td> {{flow.Stats.IsAtStartingPoint}} </td>
          <td> {{flow.Stats.StartedAt | date:'yyyy-MM-dd H:mm:ss'}} </td>
          <td> {{flow.Stats.LastExecutionTime }} </td>
          <td> {{flow.State }} </td>
          <td> {{flow.Description}}</td> <td>

             <mat-chip-list>
             <mat-chip class="open-chip" [routerLink]="['/flow/editor',flow.Id]">Open</mat-chip>
             <mat-chip color="warn" (click)="deleteFlow(flow.Id)">Delete</mat-chip>
             </mat-chip-list>
          </td>
          </tr>
          </tbody>
    </table>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/flow/editor','-']" color="primary" > Add new flow</button>
      <button mat-raised-button (click)="showLog()" color="primary" >Log</button>
      <button mat-raised-button (click)="loadListOfFlows()">Refresh</button>
    </mat-card-actions>
  </mat-card>

</div>
